.jumbotron {
  background-color: black;
  color:white;
}

.main {
  padding: 20px;
}

.wishes {
  text-align: center;
}

.col-md-4 {
  padding: 15px;
}

.fund {
  background-color: grey;
  padding: 20px;
}

.col-md-2 {
  margin-right: 20px;
}

.footer {
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

.button {
  background-color: red;
  color: white;
  padding: 15px 25px 15px 25px;
}

.button a {
  color: white;
}

blockquote {
  text-align: left;
  margin-left: 15px;
}
