.jumbotron {
  background-color: black;
  color:white;
}

.main {
  padding: 20px;
}

.wishes {
  text-align: center;
}

.col-md-4 {
  padding: 15px;
}

.fund {
  background-color: grey;
  padding: 20px;
}

.fund p {
  font-size: 18px;
}

.fund-ask {
  color: white;
  font-weight: 200;
  margin-bottom: 25px;
  font-size: 20px;
}

.col-md-2 {
  margin-right: 20px;
}

.footer {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  margin: 20px 0px 40px 0px;
}

.button {
  background-color: #8b0000;
  color: white;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
}

.button a {
  color: white;

}

blockquote {
  text-align: left;
  margin-left: 15px;
}

h3 {
  color: #8b0000;
}
